/* All HTML style code */
*{
    box-sizing: border-box;
    margin: 0 auto;
}
html{
    overflow-x: hidden;
    height: 100%;
}
header{
    background-color: rgba(113, 150, 70, 0.99);
    color: black;
    font-weight: 600;
    width: 100%;
    height: 10vh;
    position: fixed;
}
header ul, li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    padding: 1% 5%;
}
a{
    color: aquamarine;
    text-decoration: none;
}
a:hover{
    color: blueviolet;
}

main{
    height: 100%;
    width:100%;
}
.coversection{
    height: 510%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.4);
}
.hero{
    width: 100vw;
    height: 80vh;
    background-position: 10%;
    background-position-y:10% ;
    background-image: url(./images/20220822_132729\ \(1\).jpg);
}
section{
    padding: 5%;
}
.statement{
    text-align: center;
    border-top: 2px solid black;
}
.donateNow{
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: coral;
}
.donateNow h2, p{
    display: flex;
    flex-direction: column;
}
.textbox{
    margin: 5%;
}
img{
    height: 300px;
    width: 400px;
}
article{
    margin: 5% 30% 0% 30%;
    padding: 8% 8%;
    border: 2px black solid;
}
footer{
    height: 35vh;
    background-color: rgba(113, 150, 70, 0.7);
}
