/* All HTML style code */
*{
    box-sizing: border-box;
    margin: 0 auto;
}
html{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
}
header{
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    padding-left: 2%;
    font-weight: 600;
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 2;
}
header ul, li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    padding: 0.5% 5%;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7ms;
}
.nav-link:hover{
    color: blueviolet;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    background-color: white;
    color: aliceblue;
}
a{
    color: aquamarine;
    text-decoration: none;
}
a:hover{
    color: blueviolet;
}

main{
    height: 100%;
    width:100%;
    background-image: url(./images/295512773_10160629099758463_7470758663384172625_n.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:top;
    
    
}
.coversection{
    height: 510%;
    width: 100vw;
    /* background-color: #1d724266; */
    background: rgb(29, 114, 66);
    background: -moz-linear-gradient(45deg, #1D7242 0%, #B8FFCC 100%);
    background: -webkit-linear-gradient(45deg, #1D7242 0%, #B8FFCC 100%);
    background: linear-gradient(45deg, #1D7242 0%, #B8FFCC 100%);
}
.hero{
    width: 100vw;
    height: 80vh;
    background-position: 10%;
    background-position-y:30% ;
    background-image: url(./images/FB_IMG_1676611684107.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px white solid;
    z-index:-1;
}
.hero h2{
    /* width: 20%; */
    color: aliceblue;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
}
.hero1{
    width: 100vw;
    height: 80vh;
    background-position: 10%;
    background-position-y:10% ;
    background-image: url(./images/294831577_417054027132478_3671109476816063510_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px white solid;
    z-index:-1;
}
.hero1 h2{
    /* width: 20%; */
    color: aliceblue;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
}
section{
    padding: 5%;
    transition: all 0.5s ease-in-out;
}
.statement{
    text-align: center;
    font-size: 150%;
    border-top: 2px solid black;
    background-color: aliceblue;
    opacity: .8;
}
.donateNow{
    height: 150%;
    width: 85%;
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: rgb(107, 101, 99);
    border-radius: 40px;
}
.donateNow h2, p{
    display: flex;
    flex-direction: column;
}
.donateNow .imagebox{
    height: 350px;
    width: 300px;
    background-image: url(./images/20220808_203934\ \(1\).jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
button{
    margin:20px;
    border-radius: 50px;
    color: rgb(255, 255, 255); 
    font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(29, 114, 66) 0%, blueviolet 50%, rgb(29, 114, 66) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
}
button:hover{
    margin:20px;
    border-radius: 50px;
    color: rgb(255, 255, 255); 
    font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(29, 114, 66) 0%, blueviolet 50%, rgb(29, 114, 66) 100%); box-shadow: rgb(255, 255, 255) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
    cursor: pointer;
}
.textbox{
    margin: 5%;
} 
img{
    height: 300px;
    width: 400px;
}
/* div classes for slideshow a tags */
/* .event{
    height: auto;
    width: auto;
    background-image: url(./images/20220808_203421\ \(1\).jpg).jpg);

} */
.overlay{
    background-color: rgba(0, 0, 0, 0.697);
}
article{

    transition: all 0.5s ease-in-out;
}
article .event{
    color: aliceblue;
    height: 400px;
    width: 400px;
    margin: 5% 0% 0% 0%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/20221219_231837\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.697);
    transition: all 0.5s ease-in-out;
}
 article .project{
    color: aliceblue;
    height: 400px;
    width: 400px;
    margin: 5% 0% 0% 0%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/FB_IMG_1672898786766.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}
 article .hbcc{
    color: aliceblue;
    height: 400px;
    width: 400px;
    margin: 5% 0% 0% 0%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/FB_IMG_1668756535627.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}
 article .about{
    color: aliceblue;
    height: 400px;
    width: 400px;
    margin: 5% 30% 0% 30%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/FB_IMG_1671378994942.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-timing-function: ease-in;

}
article .contact{
    color: aliceblue;
    height: 400px;
    width: 400px;
    margin: 5% 30% 0% 30%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/FB_IMG_1664683421091.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2.5s ease-in ;
    animation-timing-function: ease-in;

}
footer{
    color: aliceblue;
    text-align: center;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.99);
    padding-top: 5%;
}
@-ms-viewport{
    width: device-width;
  }
  /* font size */
  @media screen and (max-width: 3680px) {
    header{
        height: fit-content;
    }
    a{
        font-size: 2.5rem;
    }
    #navbar, ul, li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hero h2{
        font-size: 180%;
        padding-top: 25%;
        height: fit-content;
        width: 60%;
    }
    .hero1 h2{
        font-size: 180%;
        padding-top: 25%;
        height: fit-content;
        width: 60%;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article .event{
        color: aliceblue;
        height: 80vh;
        width: 40vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/20221219_231837\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.697);
        transition: all 0.5s ease-in-out;
    }
     article .project{
        color: aliceblue;
        height: 80vh;
        width: 40vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1672898786766.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .hbcc{
        color: aliceblue;
        height: 80vh;
        width: 40vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1668756535627.jpg);
        background-size: cover;
        background-position-y:35% ;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .about{
        color: aliceblue;
        height: 80vh;
        width: 40vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1671378994942.jpg);
        background-size: cover;
        background-position-y: 15%;
        background-repeat: no-repeat;
        animation-timing-function: ease-in;
    }
    article .contact{
        color: aliceblue;
        height: 80vh;
        width: 40vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1664683421091.jpg);
        background-position-y: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 2.5s ease-in ;
        animation-timing-function: ease-in;
    }
    .donateNow{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .imagebox{
        margin-top: 5%;
        background-position-x: center;
    }
  }
  @media screen and (max-width: 1280px) {
    header{
        height: fit-content;
    }
    a{
        font-size: 1.5rem;
    }
    #navbar, ul, li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hero h2{
        font-size: 110%;
        padding-top: 25%;
        height: fit-content;
        width: fit-content;
    }
    .hero1 h2{
        font-size: 110%;
        padding-top: 25%;
        height: fit-content;
        width: fit-content;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article .event{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/20221219_231837\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.697);
        transition: all 0.5s ease-in-out;
    }
     article .project{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1672898786766.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .hbcc{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1668756535627.jpg);
        background-size: cover;
        background-position-y:35% ;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .about{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1671378994942.jpg);
        background-size: cover;
        background-position-y: 15%;
        background-repeat: no-repeat;
        animation-timing-function: ease-in;
    }
    article .contact{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1664683421091.jpg);
        background-position-y: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 2.5s ease-in ;
        animation-timing-function: ease-in;
    }
    .donateNow{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .imagebox{
        margin-top: 5%;
        background-position-x: center;
    }
  }
  @media screen and (max-width: 980px) {
    header{
        height: fit-content;
    }
    a{
        font-size: 1.5rem;
    }
    #navbar, ul, li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hero h2{
        font-size: 110%;
        padding-top: 25%;
        height: fit-content;
        width: fit-content;
    }
    .hero1 h2{
        font-size: 110%;
        padding-top: 25%;
        height: fit-content;
        width: fit-content;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article .event{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/20221219_231837\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.697);
        transition: all 0.5s ease-in-out;
    }
     article .project{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1672898786766.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .hbcc{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1668756535627.jpg);
        background-size: cover;
        background-position-y:35% ;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .about{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1671378994942.jpg);
        background-size: cover;
        background-position-y: 15%;
        background-repeat: no-repeat;
        animation-timing-function: ease-in;
    }
    article .contact{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1664683421091.jpg);
        background-position-y: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 2.5s ease-in ;
        animation-timing-function: ease-in;
    }
    .donateNow{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .imagebox{
        margin-top: 5%;
        background-position-x: center;
    }
  }
  @media screen and (max-width: 763px) {
    header{
        height: fit-content;
    }
    a{
        font-size: 1.5rem;
    }
    #navbar, ul, li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hero h2{
        font-size: 110%;
        padding-top: 35%;
        height: fit-content;
        width: fit-content;
    }
    .hero1 h2{
        font-size: 110%;
        padding-top: 35%;
        height: fit-content;
        width: fit-content;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article .event{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/20221219_231837\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.697);
        transition: all 0.5s ease-in-out;
    }
     article .project{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1672898786766.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .hbcc{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1668756535627.jpg);
        background-size: cover;
        background-position-y:35% ;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .about{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1671378994942.jpg);
        background-size: cover;
        background-position-y: 15%;
        background-repeat: no-repeat;
        animation-timing-function: ease-in;
    }
    article .contact{
        color: aliceblue;
        height: 350px;
        width: 350px;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1664683421091.jpg);
        background-position-y: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 2.5s ease-in ;
        animation-timing-function: ease-in;
    }
    .donateNow{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .imagebox{
        margin-top: 5%;
        background-position-x: center;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 35px;
        gap: 0px;
        flex-direction: column;
        width: 100%;
        background-color: #000000cf;
        text-align: center;
        transition: 0.9s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        margin-top: 52px;
        left: 0;
    }
  }
  @media screen and (max-width: 480px) {
    header{
        height: fit-content;
    }
    #navbar, ul, li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;  
    }
    .hero h2{
        font-size: 110%;
        padding-top: 65%;
        height: fit-content;
        width: fit-content;
    }
    .hero1 h2{
        font-size: 110%;
        padding-top: 65%;
        height: fit-content;
        width: fit-content;
    }
    article .event{
        color: aliceblue;
        height: 40vh;
        width: 60vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/20221219_231837\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.697);
        transition: all 0.5s ease-in-out;
    }
     article .project{
        color: aliceblue;
        height: 40vh;
        width: 60vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1672898786766.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .hbcc{
        color: aliceblue;
        height: 40vh;
        width: 60vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1668756535627.jpg);
        background-size: cover;
        background-position-y:35% ;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .about{
        color: aliceblue;
        height: 40vh;
        width: 60vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1671378994942.jpg);
        background-size: cover;
        background-position-y: 15%;
        background-repeat: no-repeat;
        animation-timing-function: ease-in;
    }
    article .contact{
        color: aliceblue;
        height: 40vh;
        width: 60vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1664683421091.jpg);
        background-position-y: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 2.5s ease-in ;
        animation-timing-function: ease-in;
    }
    .donateNow .imagebox{
        height: 40vh;
        width: 60vw;
        background-image: url(./images/20220808_203934\ \(1\).jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* .donateNow{
        display: flex;
        flex-direction: column;
        text-align: center;
    } */
    .imagebox{
        margin-top: 5%;
        background-position-x: center;
    }
  }
  /* smaller mobile breakpoint */
  @media screen and (max-width: 479px) {
    header{
        height: fit-content;
    }
    #navbar, ul, li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;  
    }
    .hero{
        background-position-x: right;
        background-position-y:top ;
    }
    .hero h2{
        font-size: 110%;
        padding-top: 85%;
        height: fit-content;
        width: fit-content;
    }
    .hero1{
        background-position-x: center;
        background-position-y: top ;
    }
    .hero1 h2{
        font-size: 110%;
        padding-top: 85%;
        height: fit-content;
        width: fit-content;
    }
    a{
        font-size: 1rem;
    }
    p{
        font-size: .7rem;
    }
    article .event{
        color: aliceblue;
        height: 40vh;
        width: 80vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/20221219_231837\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.697);
        transition: all 0.5s ease-in-out;
    }
     article .project{
        color: aliceblue;
        height: 40vh;
        width: 80vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1672898786766.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .hbcc{
        color: aliceblue;
        height: 40vh;
        width: 80vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1668756535627.jpg);
        background-size: cover;
        background-position-y:35% ;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .about{
        color: aliceblue;
        height: 40vh;
        width: 80vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1671378994942.jpg);
        background-size: cover;
        background-position-y: 15%;
        background-repeat: no-repeat;
        animation-timing-function: ease-in;
    }
    article .contact{
        color: aliceblue;
        height: 40vh;
        width: 80vw;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1664683421091.jpg);
        background-position-y: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 2.5s ease-in ;
        animation-timing-function: ease-in;
    }
    .donateNow .imagebox{
        margin-top: 20%;
        height: 40vh;
        width: 65vw;
        background-image: url(./images/20220808_203934\ \(1\).jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* .donateNow{
        display: flex;
        flex-direction: column;
        text-align: center;
    } */
    .imagebox{
        height: 20%;
        margin-top: 5%;
        background-position-x: center;
    }
  }
  /* orientation: portrait */
  @media screen and (orientation:portrait) {
    
  }
  @media screen and (orientation: portrait) and (max-width:480px) {
    header{
        height: fit-content;
    }
    
  }
