/* All HTML style code */
*{
    box-sizing: border-box;
    margin: 0 auto;
}
html{
    overflow-x: hidden;
    height: 100%;
}
header{
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    padding-left: 2%;
    font-weight: 600;
    width: 100%;
    height: 10vh;
    position: fixed;
}
header ul, li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    padding: 0.5% 5%;
}
a{
    color: aquamarine;
    text-decoration: none;
}
a:hover{
    color: blueviolet;
}

main{
    height: 100%;
    width:100%;
}
.coversection{
    height: 510%;
    width: 100%;
    /* background-color: #1d724266; */
    background: rgb(29, 114, 66);
background: -moz-linear-gradient(45deg, #1D7242 0%, #B8FFCC 100%);
background: -webkit-linear-gradient(45deg, #1D7242 0%, #B8FFCC 100%);
background: linear-gradient(45deg, #1D7242 0%, #B8FFCC 100%);
}
.hero{
    width: 100vw;
    height: 80vh;
    background-position: 10%;
    background-position-y:30% ;
    background-image: url(./images/FB_IMG_1676611684107.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px white solid;
    z-index:0;
}
.hero h2{
    width: 20%;
    color: aliceblue;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
}
section{
    padding: 5%;
    transition: all 0.5s ease-in-out;
}
.statement{
    text-align: center;
    font-size: 150%;
    border-top: 2px solid black;
}
.donateNow{
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: rgb(107, 101, 99);
}
.donateNow h2, p{
    display: flex;
    flex-direction: column;
}
.donateNow .imagebox{
    height: 350px;
    width: 300px;
    background-image: url(./images/20220808_203934\ \(1\).jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
button{
    margin:20px;
    border-radius: 50px;
    color: rgb(255, 255, 255); 
    font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(29, 114, 66) 0%, blueviolet 50%, rgb(29, 114, 66) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
}
button:hover{
    margin:20px;
    border-radius: 50px;
    color: rgb(255, 255, 255); 
    font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(29, 114, 66) 0%, blueviolet 50%, rgb(29, 114, 66) 100%); box-shadow: rgb(255, 255, 255) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
    cursor: pointer;
}
.textbox{
    margin: 5%;
} 
img{
    height: 300px;
    width: 400px;
}
/* div classes for slideshow a tags */
/* .event{
    height: auto;
    width: auto;
    background-image: url(./images/20220808_203421\ \(1\).jpg).jpg);

} */
.overlay{
    background-color: rgba(0, 0, 0, 0.697);
}
article{

    transition: all 0.5s ease-in-out;
}
article .event{
    color: aliceblue;
    /* height: 400px;
    width: 400px; */
    margin: 5% 30% 0% 30%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/20221219_231837\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.697);
    transition: all 0.5s ease-in-out;
}
 article .project{
    color: aliceblue;
    /* height: 400px;
    width: 400px; */
    margin: 5% 30% 0% 30%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/FB_IMG_1672898786766.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}
 article .hbcc{
    color: aliceblue;
    /* height: 400px;
    width: 400px; */
    margin: 5% 30% 0% 30%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/FB_IMG_1668756535627.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}
 article .about{
    color: aliceblue;
    /* height: 400px;
    width: 400px; */
    margin: 5% 30% 0% 30%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/FB_IMG_1671378994942.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-timing-function: ease-in;

}
article .contact{
    color: aliceblue;
    margin: 5% 30% 0% 30%;
    padding: 8% 8%;
    border: 2px black solid;
    background-image: url(./images/FB_IMG_1664683421091.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2.5s ease-in ;
    animation-timing-function: ease-in;

}
footer{
    color: aliceblue;
    text-align: center;
    height: 35vh;
    background-color: rgba(0, 0, 0, 0.99);
    padding-top: 10%;
}
@-ms-viewport{
    width: device-width;
  }
  /* font size */
  @media screen and (max-width: 1680px) {
   
    
  }
  @media screen and (max-width: 1280px) {
    #navbar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 980px) {
    
  }
  @media screen and (max-width: 736px) {
    
  }
  @media screen and (max-width: 480px) {
    header, nav{
        height: 20%;
    }
    #navbar, ul, li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;  
    }
    .hero h2{
        font-size: 110%;
        padding-top: 65%;
        height: fit-content;
        width: fit-content;
    }
    article .event{
        color: aliceblue;
        /* height: 400px;
        width: 400px; */
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/20221219_231837\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.697);
        transition: all 0.5s ease-in-out;
    }
     article .project{
        color: aliceblue;
        /* height: 400px;
        width: 400px; */
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1672898786766.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .hbcc{
        color: aliceblue;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1668756535627.jpg);
        background-size: cover;
        background-position-y:35% ;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
    }
     article .about{
        color: aliceblue;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1671378994942.jpg);
        background-size: cover;
        background-position-y: 15%;
        background-repeat: no-repeat;
        animation-timing-function: ease-in;
    }
    article .contact{
        color: aliceblue;
        margin: 5% 0% 0% 0%;
        padding: 8% 8%;
        border: 2px black solid;
        background-image: url(./images/FB_IMG_1664683421091.jpg);
        background-position-y: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 2.5s ease-in ;
        animation-timing-function: ease-in;
    }
    .donateNow{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .imagebox{
        margin-top: 5%;
        background-position-x: center;
    }
  }
  /* orientation: portrait */
  @media screen and (orientation:portrait) {
    
  }
  @media screen and (orientation: portrait) and (max-width:480px) {
    
  }
